.THIS .clickable {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.THIS .slds-card__header {
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.THIS .thumbnail { 
    max-height: 170px;
    max-width: 75%;
}

.THIS .genre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.THIS .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}